.meu__contato {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    width: 40vw;    
  }
  
  .contato__tudo {
    display: flex;
    align-items:flex-start;
    width: 90vw;
  }
  
  .contato__texto {
    width: 50%;
    justify-content: flex-end;
  
  } 
  
  .contato__titulo {
    font-size: 30px;
    border-bottom: 2px;
    margin-bottom: 4rem;
  }
  
  .texto_principal {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  .texto_secundario {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    text-align: justify;
    width: 90%;
  }
  
  
  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .contato__texto {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
  }
  
  .contato__input {
    margin: 0 .5rem .5rem;
    height: 2rem;
    width: 95%;
  }
  
  .contato__textarea {
    margin: 0 .5rem .5rem;
    height: 6rem;
    width: 95%;
  }
  
  .contato__botao {
    background-color:  rgba(43, 41, 14, 0.616);
    color:  black;
    cursor: pointer;
    text-align: center;
    margin: 5rem .6rem;
    padding: 1rem;
    border: 0;
    border-radius: .5rem;
    width: 15rem;
    transition: .3s ease-in-out;
  
  }
  
  .contato__botao:hover {
    background-color: orange;
  }
  
  
  @media (max-width: 600px ) {

    
    .meu__contato {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 3rem;
      margin-top: 25rem;
      text-align: left;
      
    }


    .texto_principal {
      font-size: 2rem;
     
    }

    .texto_secundario {
      font-size: 1.5rem;
     
      text-align: justify;
     
    }

    .contato__texto {
      position: absolute;
      width: 80%;
      height: auto;
      padding: 2x 1;
      overflow: hidden;
      text-align: center;

    }

    .contato__textarea {
      position: relative;
      margin: 0 .8rem .8rem;
      height: 9rem;
      width: 285px;
      text-align: left;
    }

   
    .contato__botao {
      width: 8rem;
      padding: 4px;
      margin-top: 2rem;
      text-align: center;
      margin: 2rem .2rem;
    }
    

  }
  